@media screen and (max-width: 640px) {
    #destination_screen_container {
        background-image: url('../../src/assets/crew/background-crew-mobile.jpg');

    }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
    #destination_screen_container {
        background-image: url('../../src/assets/crew/background-crew-tablet.jpg');
    }
}

@media screen and (min-width: 769px)  {
    #destination_screen_container {
        background-image: url('../../src/assets/crew/background-crew-desktop.jpg');
    }
}
