
body{
    @apply bg-no-repeat bg-cover
}

@media screen and (max-width: 640px) {
    body {
        background-image: url('../../src/assets/home/background-home-mobile.jpg');
    }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
    body {
        background-image: url('../../src/assets/home/background-home-tablet.jpg');
    }
}

@media screen and (min-width: 769px)  {
    body {
        background-image: url('../../src/assets/home/background-home-desktop.jpg');
    }
}

